.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
}

.box {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    max-width: 1200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.337);
    border-radius: 10px;
}
.imagensLista{
    list-style: none;
}
.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pImagem img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    transition: transform 0.2s ease;
}

.pImagem img:hover {
    transform: scale(1.03);
}

.listaImagem {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.imagensLista img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.imagensLista img:hover {
    border-color: #3483fa; 
}
.Hestoque{
    margin-top: 15px;
    margin-bottom: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo {
    font-size: 24px;
    font-weight: 600;
}

.preco {
    font-size: 36px;
    font-weight: 700;
    color: #3483fa;
}

.contratar,
.carrinho {
    background-color: #3483fa;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.carrinho {
    margin-top: 5px;
    background-color: #163c75c0;
}

.contratar:hover,
.carrinho:hover {
    background-color: #357ae0;
}

/* alerta */
.hideErro {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.showErro {
    position: fixed;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    color: #b30000;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 24px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0 6px 18px rgba(255, 0, 0, 0.25);
    opacity: 1;
    z-index: 2000;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.warning {
    font-size: 22px;
    color: #ff1a1a;
}

.erroP {
    font-size: 16px;
}
