.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 100px;
}
.header2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #001e46;
}

  /*links*/
.links{
  display: flex;
  justify-content: space-around;
}
.links .a{
  margin-right: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
  transition: 0.5s;
}
.links .a:hover{
  color: #006efd;
  cursor: pointer;
  transition: 0.5s;
}
.links .a:active{
  color: rgb(0, 73, 168);
  cursor: pointer;
  transform: translateY(5px);
}
.links .loginRegistro{
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
}
.loginRegistro:hover .caixinha{
  transform: scale(1);
  position: fixed;
  top: 64px;
  right: 40px;
  transition: 0.5s;
}

  /*Caixinha*/
.caixinha{
  position: fixed;
  top: -180px;
  right: -60px;
  padding: 20px;
  height: 460px;
  width: 250px;
  border-radius: 15px;
  border: solid white 1px;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  transform: scale(0);
  z-index: 100;
  transition: 0.5s;
}
.lr{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.lr:hover{
  cursor: pointer;
  color: #006efd;
  transition: 0.5s;
}
.aIcones{
  margin-top: 10px;
  padding: 10px;
  color: white;
  transition: 0.5s;
}
.aIcones .aLink{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.aIcones .aLink:hover{
  color: #006efd;
  cursor: pointer;
  transition: 0.5s;
}
.aIcones .aLink:active{
  color: #ffffff;
}
.aLIcon{
  margin-right: 8px;
}
.aLIcon:hover{
  cursor: pointer;
}

  /*Barra de Pesquisar*/
.search{
  margin-top: 10px;
  border: none;
  text-decoration: none;
  position: relative;
  top: 10px;
}
.iconSearch{
  position: relative;
  top: -32px;
  left: 23px;
  height: 25px;
  width: 30px;
  border-right: 0.5px solid rgb(255, 255, 255);
}
.iconSearch2{
  position: relative;
  top: -5px;
  left: -4px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.pesquisar{
  padding-left: 60px;
  border: solid 2px rgba(255, 255, 255, 0.822);
  width: 300px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border-radius: 15px;
  color: white;
  backdrop-filter: blur(5px);
}
.pesquisar::placeholder{
  color: white;
}

  /*Imagem*/
.LogoImage{
  margin-top: 5px;
  height: 75px;
  width: 150;
  border-radius: 100%;
  margin-left: 20PX;
  border: white solid 1px;
}