.container{
  height: 100vh;
  width: 100%;
  color: white;
}
.containerMain{
    height: 100%;
    width: 100%;
    display: inline;
    align-items: center;
    justify-content: flex-start;
}
.section{
    margin-left: 150px;
    padding-top: 90px;
}
.section2{
    margin-left: 150px;
    margin-top: 50px;
    padding-top: 20px;
}
.sectionOficina{
    margin-top: 10px;
}
.h1{
    font-size: 90px;
    display: flex;
}
.wordColor{
    color: #006eff;
}
.lbColor{
    margin-left: 30px;
    color: #006eff;
}
.oficina{
    outline: none;
    border: none;
    height: 60px;
    width: 150px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: #0049a8;
    transition: 0.5s;
}
.oficina:hover{
    background-color: #003479;
    transform: translateY(1px);
    color: aliceblue;
    transition: 0.5s;
}
.containerContato{
    height: 80px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contato{
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: #0058ca solid 1px;
    box-shadow: 0px 0px 3px 0px;
    transition: 0.5s;
}
.contato:hover{
    color: rgb(216, 216, 216);
    background-color: #0058ca;
    border: #0058ca solid 1px;
    transform: translateY(1px);
    cursor: pointer;
    transition: 0.5s
}
