.container{
    background: linear-gradient(0deg, #022655, rgb(255, 255, 255));
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
.nItem{
    height: 20%;
    width: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-30%);
    padding: 10px;
}
.imagens{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.hTornearia{
    display: flex;
    justify-content: center;
    color: #000000;
    margin: 30px;
}
.fh1{
    margin: 30px;
    display: flex;
    justify-content: center;
    color: #000000;
}
.grade{
    display: flex;
    border-bottom: 1px solid gray;
    background-color: aliceblue;
    color: black;
    width: 50%;
    border-radius: 5px;
}
.tImagem{
    margin: 10px;
}
.gradeItem{
    height: 170px;
    width: 170px;
    border-radius: 10px;
}
.tInfo{
    margin-top: 10px;
    margin-left: 20px;
}
.tTitulo{
    color: #525252;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.tPreco{
    margin-top: 20px;
    font-weight: bold;
    color: #525252;
    font-size: 20px;
}
.frete{
    color: #00a650;
}
.grade:hover{
    cursor: pointer;
}