.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #022655, rgb(213, 240, 255));
}

/* Caixa principal */
.caixa {
    width: 55%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    border-radius: 60px;
    box-shadow: 0 50px 15px -20px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

/* Títulos */
.h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

/* Linha divisória */
.hr {
    width: 80%;
    border: 0;
    border-bottom: 1px solid white;
    margin: 25px 0;
}

/* Texto do reenviar */
.reenviar {
    margin-top: 20px;
    width: 100%;
}

.p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* Botões */
.button,
.cooldown {
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
}

/* Normal */
.button {
    background-color: white;
    color: #022655;
}

.button:hover {
    background-color: #d4eaff;
    color: #022655;
    transform: scale(1.03);
}

/* Cooldown */
.cooldown {
    background-color: rgba(255, 255, 255, 0.3);
    color: #b5b5b5;
    cursor: not-allowed;
}
