*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.background{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.background2{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.slider{
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  z-index: -100;
  overflow: hidden;
}

.slider .img{
  position: relative;
  height: 100vh;
  width: 100vw;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  22%{
    position: relative;
    right: 0%;
  }
  25%{
    position: relative;
    right:100%;
  }
  47%{
    position: relative;
    right: 100%;
  }
  50%{
    position: relative;
    right: 200%;
  }
  72%{
    position: relative;
    right: 200%;
  }
  75%{
    position: relative;
    right: 300%;
  }
  97%{
    position: relative;
    right: 300%;
  }
  100%{
    position: relative;
    right: 300%;
  }


}
/**/
.button{
  position: relative;
  height: 50px;
  width: 50px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  border-radius: 100px;
  background: transparent;
  border: solid 1px white;
  font-size: 25px;
  color: white;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}
.button:hover{
  border: solid 1px #006efd;
  color: #006efd;
  transition: 0.5s;
}
/*Footer*/
.foot{
  width: 100%;
  position: fixed;
  bottom: 0;
}
.hideContainerFooter{
  display: none;
  justify-content: space-around;
  padding-top: 15px;
  color: #444546;
  background-color: white;
}
.showContainerFooter{
  position: relative;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 15px;
  color: #cfcfcf;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  border-top: solid 1px white;
}
.listaSection{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linkLista{
  text-decoration: none;
  list-style: none;
}
.listaA{
  text-decoration: none;
  color: #cfcfcf;
}
.listaA:hover{
  color: rgb(255, 255, 255);
}
.itemLista{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkLista:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.tituloLIsta{
  margin-bottom: 15px;
  font-weight: bold;
}
